body{
    margin: 0;
    background-color: #ffffff98;
    background-image: url(https://cutewallpaper.org/21/website-background-images-hd/Savin-NY-Website-Background-Web-Design-Create-Build-Run-.jpg);
    background-size: 1400px 1700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(26, 95, 95);
    font-family: sans-serif;
}
h2:hover{
    color: rgb(0, 0, 0);
}
.border{
    border-style: dotted;
    height: 0px;
    border-width: 0.01cm;
    width: 30%;
    border-radius: 40%;
    color: black;
    
}
.username{
    color: rgba(255, 255, 255, 0.932);
    font-family: "cursive";
    font-size: 200%;
}
.username:hover{
    color: rgb(0, 0, 0);    
}
.div1{
    padding: 0.5cm;
    background-color: rgba(240, 248, 255, 0.774);
    background-image: url(https://www.fotor.com/_nuxt/img/853fb1d.jpg);
    /*background-size: 1350px 350px;    */
    background-size: cover;
}   
.div2{
    margin: 1cm;
}
.aboutme{
    margin-left: 2cm;
    width: 10cm;
    height: 10cm;
    padding: 1cm;
    background-color: rgba(107, 112, 117, 0.24);
}
.hobbies{
    background-color: rgba(107, 112, 117, 0.24);
    padding: 0.4cm;
    width: 7cm;
    height: 5cm;
    margin-left: 1cm;
}
.socialmedia{
    margin-left: 2cm;
    background-color: rgba(107, 112, 117, 0.24);
    padding: 0.3cm;
    width: 8cm;
    height: 5cm;
}
.maillogo{
   position: fixed;
   right: 0.7cm;
   bottom: 0.8cm;
}
.instalogo{
    position: fixed;
    bottom: 0.8cm;
    right: 2.3cm;
}
.humanandskill{
    margin-left: 0.8cm;
}
.form{
    position: absolute;
    top:0.3cm;
    right: 0.6cm;
}
p{
    line-height: 1.5;
}
.para{
    margin-left: 8cm;
    width: 20cm;
    align-items: center;
}
.dot{
    color: rgb(97, 100, 102);
    border: dotted;
    border-width: 6px;
    border-bottom: none;
    width: 5%;
}
a:hover{
    color: rgba(49, 122, 151, 0.87);
}
.getintouch{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn {
background: #98c5e3;
background-image: -webkit-linear-gradient(top, #98c5e3, #115d8c);
background-image: -moz-linear-gradient(top, #98c5e3, #115d8c);
background-image: -ms-linear-gradient(top, #98c5e3, #115d8c);
background-image: -o-linear-gradient(top, #98c5e3, #115d8c);
background-image: linear-gradient(to bottom, #98c5e3, #115d8c);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
text-shadow: 1px 1px 3px #666666;
font-family: Arial;
color: #ffffff;
font-size: 16px;
padding: 10px 20px 10px 17px;
text-decoration: none;
}

.btn:hover {
background: #2d81b5;
background-image: -webkit-linear-gradient(top, #2d81b5, #17394f);
background-image: -moz-linear-gradient(top, #2d81b5, #17394f);
background-image: -ms-linear-gradient(top, #2d81b5, #17394f);
background-image: -o-linear-gradient(top, #2d81b5, #17394f);
background-image: linear-gradient(to bottom, #2d81b5, #17394f);
text-decoration: none;
}
.finaldiv{
padding: 16px;
background-color: rgba(107, 112, 117, 0.452);
margin: 0;
text-decoration: none;
}
.copyright{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}